// Utility classes that can be attached to elements

// Used for the footer to be at the absolute bottom of a page
// Used in the scripts.js alignFooterPosition script
.cling-to-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}

// Provides an animation that words with letter spacing to collapse
.squeeze-together {
    transition: all .2s;

    &:hover {
        letter-spacing: 0;
    }
}

.flex {
    display: flex;
    &--row {
        flex-direction: row;
    }
}

.float {
    &--left {
        float: left;
    }
    &--right {
        float: right;
    }
}